{% extends "generic/object_retrieve.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Workflow Designer: {{ object.name }}</strong>
                    <div class="pull-right">
                        {% if perms.nautobot_network_provisioning.add_workflowstep %}
                            <a href="{% url 'plugins:nautobot_network_provisioning:workflowstep_add' %}?workflow={{ object.pk }}" class="btn btn-xs btn-primary">
                                <i class="mdi mdi-plus"></i> Add Step
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body">
                    <p class="text-muted small">Design the execution sequence for this workflow. Steps are executed in the order shown below.</p>
                    
                    {% include "nautobot_network_provisioning/inc/workflow_steps_table.html" with object=object %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
